<div class="hero-unit">
	<h1>Welcome to Nishul's webpage</h1>
	<p>
		You've found the home page for Nish's attempt at
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>


